:root {
    --background-color: #F9F5EB;
    --darker-background-color: #9bb2cc;
    --button-background-color: #002B5B;
    --button-alt-color: #EA5455;
    
    --border-radius: 0.2rem;
    --primary-button-width: 9rem;
    --primary-button-height: 3rem;

    --small-button-size: 1.5rem;
    --tool-button-size: 3rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
    font-size: 1.1rem;
}
img {
    filter: invert(1);
}
body{
    background: linear-gradient(180deg, var(--background-color) 0%, var(--darker-background-color) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
button {
    background-color: var(--button-background-color);
    color: white;
    border-radius: var(--border-radius);
    border-style: none;
}
button:hover {
    /* darken background but not icons */
    outline: goldenrod 0.15rem solid;
}
.button-alt-color {
    background-color: var(--button-alt-color);
}
button:active{
    box-shadow: inset 2px 2px 1px 1px rgba(0,0,0,0.70);
    padding-top: 0.1rem;
    padding-left: 0.1rem;
}
.spinner * {
    top: 4rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
}
.login {
    margin: 4rem auto 0 auto;
    text-align: center;
    width: 17.2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.task-count * {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0.1rem;
    white-space: nowrap;
}
.task-count * :first-child {
    margin-right: 0.5rem;
}
.login > button {
    width: 100%;
    height: 4rem;
    margin-bottom: 0.25rem;
    font-size: 1.5rem;
}
.button-edit > * {
    margin-top: 0.1rem;
    margin-left: -0.05rem;
}
.button-delete {
    border-radius: 50%;
    width: var(--small-button-size);
    height: var(--small-button-size);
    cursor: pointer;
}
.button-delete > *,
.button-delete-back > *,
.button-delete-confirm > * {
    margin-top: 0.2rem;
    margin-left: -0.02rem;
}
.button-delete-confirm {
    background-color: var(--button-alt-color);
}
.add-with-delete {
    padding-right: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--primary-button-height);
    margin: 0.5rem;
    color: white;
}
.add-item-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-alt-color);
    margin: 0.5rem;
    width: var(--primary-button-width);
    height: var(--primary-button-height);
    border-radius: var(--border-radius);
    border-style: none;
}
.button-add-item, .button-tool-confirm, .button-tool-toggle-filter {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: var(--tool-button-size);
    height: var(--tool-button-size);
    border-radius: 50%;
    border-style: none;
    z-index: 2;
    cursor: pointer;
}
.button-add-item > * , .button-tool-confirm > *, .button-tool-toggle-filter > * {
    margin-top: 0.3rem;
    width: calc(var(--tool-button-size) / 2);
    height: calc(var(--tool-button-size) / 2);
}
.button-tool-toggle-filter{
    bottom: 5rem;
}
.tools-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: calc(var(--tool-button-size) / 2);
    background-color: var(--button-background-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.button-tool {
    width: var(--tool-button-size);
    height: var(--tool-button-size);
    border-style: none;
    border-radius: 50%;
    cursor: pointer;
}
.button-tool > * {
    margin-top: 3px;
    width: calc(var(--tool-button-size) / 2);
    height: calc(var(--tool-button-size) / 2);
}
.tools-show {
    transition: height 0.1s;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: var(--tool-button-size);
    height: calc(var(--tool-button-size) * 4);
}
.tools-hide {
    transition: height 0.1s;
    height: var(--tool-button-size);
}
.tools-search {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    height: var(--tool-button-size);
    background-color: var(--button-background-color);
    border-radius: calc(var(--tool-button-size) / 2);
    border-style: none;
    z-index: 2;
    color: white;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.search-input {
    margin-left: 0.5rem;
    width: 100%;
}
.search-bar-icon > *{
    margin-top: 0.4rem;
    margin-left: 0.7rem;
    width: calc(var(--tool-button-size) / 2);
    height: calc(var(--tool-button-size) / 2);
}
.search-show {
    transition: width 0.1s;
    width: 70%;
}
.search-hide {
    transition: width 0.1s;
    width: var(--tool-button-size);
}
.filter-main {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.filter-item-list {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.nav-main {
    background-color: var(--darker-background-color);
    position: fixed;
    display: flex;
    border-bottom-right-radius: var(--border-radius);
    z-index: 99;
}
.nav-show {
    transition: width 0.1s, height 0.2s;
    width: 12rem;
    height: 100%;
}
.nav-hide {
    transition: width 0.2s, height 0.1s;
    width: var(--tool-button-size);
    height: var(--tool-button-size);
}
.nav-toggle-button {
    position: fixed;
    width: var(--tool-button-size);
    height: var(--tool-button-size);
    border-radius: 0 0 var(--border-radius) 0;
    border-style: none;
    cursor: pointer;
}
.nav-button-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: thin;
    padding-top: 4rem;
}
.nav-button-list > button {
    width: 60%;
    min-height: var(--primary-button-height);
    margin: 0.5rem;
    border-style: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}
.set-range-main {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    align-items: center;
}
.set-range-main > h1 {
    margin-bottom: 2rem;
}
.set-range-main > button {
    width: var(--primary-button-width);
    height: var(--primary-button-height);
    margin-top: 2rem;
    border-style: none;
    border-radius: var(--border-radius);
}
.set-range-input {
    display: flex;
    margin: 1rem;
}
.set-range-input > p {
    margin-right: 1rem;
}
.profile-main {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    align-items: center;
}
.profile-heading {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profile-heading > img {
    border-radius: 50%;
    filter: invert(0);
}
.icon-image {
    width: 1.5rem;
    height: 1.5rem;
}
.profile-item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 0.5rem;
}
.profile-new-item-button {
    margin: 1rem;
    width: var(--primary-button-width);
    height: var(--primary-button-height);
    border-radius: var(--border-radius);
    border-style: none;
    cursor: pointer;
}
.profile-item-bubble {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--primary-button-height);
    margin: 0.5rem;
    color: white;
}
.profile-item-bubble > button {
    width: var(--small-button-size);
    height: var(--small-button-size);
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
}
.item-bubble-inner {
    display: flex;
    align-items: center;
    width: 16rem;
    height: 4rem;
    border-style: none;
    border-radius: var(--border-radius);
    color: white;
    margin: 0 0.5rem;
    overflow: hidden;
}
.item-bubble-inner > * {
    margin-left: 15px;
}
.profile-item-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16rem;
    height: 4rem;
    border-radius: var(--border-radius);
    background-color: var(--button-alt-color);
    margin: 0.5rem;
}
.empty {
    padding-top: 1.3rem;
    text-align: center;
    width: 16rem;
    height: 4rem;
    border-radius: var(--border-radius);
    font-size: 1.2rem;
    color: white;
    background-color: var(--darker-background-color);
}
.empty-week {
    padding: 2rem 0 0 1rem;
    text-align: center;
    height: var(--tool-button-size);
    width: var(--tool-button-size);
    border-radius: var(--border-radius);
    font-size: 1.2rem;
    color: white;
    background-color: var(--darker-background-color);
}
.empty-tasks {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-top: 0.1rem;
    text-align: center;
    width: 16rem;
    height: 4rem;
    border-radius: var(--border-radius);
    font-size: 1.2rem;
    color: white;
    background-color: var(--darker-background-color);
}
.create-item-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create-item-main > h1{
    margin: 1rem;
    font-size: 1.3rem;
}
.create-item-button-list {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.create-item-button-list > button {
    width: 16rem;
    height: 3rem;
    margin: 0.1rem;
}
.create-item-icon-list {
    text-align: center;
    width: 24rem;
    margin: 0.5rem;
}
.create-item-icon-list > button {
    margin: 0.05rem;
    border-style: none;
    border-radius: var(--border-radius);
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
}
.create-item-icon-list > button:active{
    box-shadow: inset 2px 2px 0px 1px rgba(0,0,0,0.70);
    padding-top: 0;
    padding-left: 0;
    overflow: hidden;
    padding: 0.05rem;
}
.create-item-icon-list > button:active > img{
    position: relative;
    top: 0.1rem;
    left: 0.1rem;
}
.create-item-text-input, .create-item-color-input {
    display: flex;
    margin: 0.2rem;
}
.create-item-color-input {
    align-items: center;
}
.create-item-text-input > p {
    margin-right: 0.2rem;
}
.create-item-color-input > p {
    margin-right: 0.2rem;
}
.create-confirm-button {
    margin: 0.5rem;
    width: var(--primary-button-width);
    height: var(--primary-button-height);
    border-radius: var(--border-radius);
    border-style: none;
    cursor: pointer;
}
.create-task-redirect-button {
    margin: 0.5rem;
    width: var(--primary-button-width);
    height: var(--primary-button-height);
    border-radius: var(--border-radius);
    border-style: none;
    margin-bottom: 50px;
    opacity: 70%;
}
.notes-input {
    margin-bottom: 10px;
}
.notes-input > textarea {
    width: 16rem;
    height: 8rem;
}
.filtered {
    border: 0.2rem dashed #F9F5EB;
    opacity: 30%;
}
.amount-input > input{
    width: 4rem;
}
.nav-close-overlay {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    opacity: 0;
}
.nav-close-overlay-hide {
    position: fixed;
    width: 0%;
    height: 0%;
    opacity: 1;
}
.sync-text {
    margin-top: 1rem;
    color: var(--button-alt-color);
    opacity: 70%;
}
.sync-button {
    margin: 1rem;
    width: 4rem;
    height: 2rem;
    border-radius: var(--border-radius);
    border-style: none;
    opacity: 70%;
    cursor: pointer;
}
.task-text {
    text-align: left;
}
.task-collapsed > .task-text {
    overflow: hidden;
    white-space: nowrap;
}
.task-text > p {
    margin-left: 0.5rem;
    margin-right: 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.task-text > div {
    display: flex;
    gap: 0.5rem;
}
.task-bubble-inner {
    display: flex;
    align-items: center;
    width: 16rem;
    border-style: none;
    border-radius: var(--border-radius);
    color: white;
    margin: 0.2rem 0.5rem;
    overflow: hidden;
    gap: 1rem;
}
.task-bubble-inner-week {
    height: var(--tool-button-size);
    width: var(--tool-button-size);
}
.button-task-bubble {
    margin-bottom: 0.3rem;
    padding: 0.1rem;
}
.button-task-bubble:active{
    padding-top: 0;
    padding: 0.1rem;
}
.task-expanded {
    transition: min-height 0.2s;
    min-height: calc(var(--primary-button-height) * 2);
    height: 100%;
}
.task-collapsed {
    transition: min-height 0.2s;
    min-height: var(--primary-button-height);
}
.button-task-edit, .button-task-duplicate {
    position: absolute;
    width: var(--small-button-size);
    height: var(--small-button-size);
    border-style: none;
    border-radius: 50%;
    right: 0.5rem;
    background-color: white;
    color: var(--button-background-color);
    cursor: pointer;
}
.button-task-duplicate {
    padding-top: 0.15rem;
    padding-left: 0.1rem;
    top: 3rem;
}
.button-task-edit {
    top: 0.8rem;
}
.task-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}
.day-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.week-task-list {
    display: flex;
    gap: 0.3rem;
    text-align: center;
}
.week-task-list > div > h1 {
    margin-bottom: 0.5rem;
}
.home-header {
    background-color: var(--button-background-color);
    display: flex;
    margin: 1rem;
    align-items: center;
    border-radius: var(--border-radius);
}
.home-header > button {
    width: var(--tool-button-size);
    height: var(--tool-button-size);
    border-style: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}
.home-header > button > * {
    margin-top: 0.2rem;
    width: var(--small-button-size);
    height: var(--small-button-size);
}
.home-header > h1 {
    color: white;
    margin: 0 1rem;
}
.sync-wrapper {
    color: var(--button-alt-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sync-wrapper > a {
    color: var(--button-alt-color);
    opacity: 70%;
    text-decoration: none;
    margin-bottom: 1rem;
}
.all-header {
    text-align: center;
    background-color: var(--button-background-color);
    margin: 1rem;
    padding: 0.2rem;
    border-radius: var(--border-radius);
    color: white;
}
.all-title {
    text-align: center;
    background-color: var(--button-background-color);
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: var(--border-radius);
    color: white;
}
@media only screen and (max-width: 1024px) {
    html {
        font-size: 110%;
    }
    .task-bubble-inner-week, .empty-week {
        width: calc(var(--tool-button-size) * 0.7);
        height: calc(var(--tool-button-size) * 0.7);
    }
    .home-header {
        max-width: 60vw;
        font-size: 0.8rem;
    }
    .home-header > h1{
        white-space: nowrap;
        font-size: 0.9rem;
    }
    .nav-show {
        width: 100vw;
    }
}