* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
    font-size: 1.1rem;
}

body{
    background-color: #F9F5EB;
}

button {
    background-color: #002B5B;
    color: white;
}

button:hover{
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

button:active{
    box-shadow: inset 2px 2px 1px 1px rgba(0,0,0,0.70);
    padding-top: 2px;
    padding-left: 2px;
}

.login {
    height: 100%;
    width: 100%;
    padding-top: 25%;
    text-align: center;
}

.login > button{
    margin: 10px;
    width: 240px;
    height: 60px;
    border-radius: 15px;
    border-style: none;
}

.button-edit > * {
    margin-top: 3px;
    margin-left: -1px;
}

.button-delete > * {
    margin-top: 5px;
    margin-left: 2px;
}

.button-delete-back > * {
    margin-top: 3px;
    margin-left: -3px;
}

.button-delete-confirm > * {
    margin-top: 5px;
    margin-left: 2px;
}

.button-delete-confirm {
    background-color: #EA5455;
}

.button-add-item, .button-tool-confirm {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: none;
    z-index: 2;
}

.button-add-item > * , .button-tool-confirm > * {
    margin-top: 3px;
    width: 25px;
    height: 25px;
}

.tools-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 25px;
    background-color: #002B5B;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.button-tool {
    width: 50px;
    height: 50px;
    border-style: none;
    border-radius: 50%;
}

.button-tool > * {
    margin-top: 3px;
    width: 25px;
    height: 25px;
}

.tools-show {
    transition: height 0.1s;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 150px;
}

.tools-hide {
    transition: height 0.1s;
    height: 50px;
}

.nav-main {
    background-color: #E4DCCF;
    position: fixed;
    display: flex;
    border-bottom-right-radius: 15px;
    z-index: 99;
}

.nav-show {
    transition: width 0.1s, height 0.2s;
    width: 200px;
    height: 100%;
}

.nav-hide {
    transition: width 0.2s, height 0.1s;
    width: 50px;
    height: 50px;
}

.nav-toggle-button {
    position: fixed;
    width: 50px;
    height: 50px;
    border-bottom-right-radius: 15px;
    border-style: none;
}

.nav-button-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: thin;
    padding-top: 20px;
}

.nav-button-list > button {
    width: 60%;
    min-height: 50px;
    margin: 10px;
    border-style: none;
    border-radius: 15px;
}

.set-range-main {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
}

.set-range-main > h1 {
    margin-bottom: 20px;
}

.set-range-main > button {
    width: 150px;
    height: 30px;
    margin-top: 20px;
    border-style: none;
    border-radius: 15px;
}

.set-range-input {
    display: flex;
    margin: 5px;
}

.set-range-input > p {
    margin-right: 5px;
}

.profile-main {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
}

.profile-heading {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-heading > img {
    border-radius: 50%;
}

.icon-image {
    width: 32px;
    height: 32px;
}

.profile-item-list {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.profile-new-item-button {
    margin: 10px;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border-style: none;
}

.profile-item-bubble {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 280px;
    height: 70px;
    margin: 5px;
    color: white;
}

.profile-item-bubble > button {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border-style: none;
}

.profile-item-bubble-inner {
    display: flex;
    align-items: center;
    width: 200px;
    height: 70px;
    border-style: none;
    border-radius: 15px;
    color: white;
    margin: 5px;
}

.profile-item-bubble-inner > img {
    margin: 15px;
}

.profile-item-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 70px;
    border-radius: 15px;
    background-color: #EA5455;
}

.profile-empty {
    margin-top: 10px;
    padding-top: 20px;
    text-align: center;
    width: 200px;
    height: 70px;
    border-radius: 15px;
    font-size: 1.2rem;
    color: white;
    background-color: #E4DCCF;
}

.create-item-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-item-main > h1{
    margin: 20px;
    font-size: 1.3rem;
}

.create-item-button-list {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.create-item-button-list > button {
    height: 35px;
}

.create-item-icon-list {
    margin: 10px;
    text-align: center;
}

.create-item-icon-list > button {
    margin: 2px;
    border-style: none;
    border-radius: 5px;
    padding: 2px;
}

.create-item-icon-list > button:active{
    box-shadow: inset 2px 2px 0px 1px rgba(0,0,0,0.70);
    padding-top: 0px;
    padding-left: 0px;
    overflow: hidden;
    padding: 2px;
}

.create-item-icon-list > button:active > img{
    position: relative;
    top: 2px;
    left: 2px;
}

.create-item-text-input, .create-item-color-input {
    display: flex;
    margin: 5px;
}

.create-item-color-input {
    align-items: center;
}

.create-item-text-input > p {
    margin-right: 5px;
}

.create-item-color-input > p {
    margin-right: 5px;
}

.create-confirm-button {
    margin: 10px;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border-style: none;
    margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    .nav-show {
        width: 100%;
        height: 100%;
    }
}